.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0px;
    padding-top: 50px;
}

.ulstyles {
    border: 2px dotted #ccc;
    list-style-type: lower-greek;
}

.ulstyles > li {
    margin: 0.5em;
    padding: 0.5em;
}

@media only screen and (max-width: 767px) {
    .ulstyles > li {
        margin: 0.2em;
        padding: 0.2em;
    }
}