.root_container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

.hidden_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
}

  .universe {
    font-size: 13px;
  }

.to_repos {
  margin-top: 2em;
  color: hotpink;
}