.root_container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.oops {
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .oops {
    font-size: 1em;
  }
}
