@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  --black: #444343;
  --white: #edecee;
  --gray: #2c2c2c;
  --purple: #a277ff;
  --purple-fading: #3d375e7f;
  --green: #61ffca;
  --orange: #ffca85;
  --pink: #f694ff;
  --blue: #82e2ff;
  --red: #ff6767;

  --background-color: var(--black);
  --foreground-color: var(--white);
  --muted-color: var(--gray);
  --selection-color: var(--purple-fading);
  --primary-color: var(--purple);
  --secondary-color: var(--green);
  --tertiary-color: var(--orange);
  --quaternary-color: var(--pink);
  --quinary-color: var(--blue);
  --senary-color: var(--red);

  --warning-color: var(--orange);
  --success-color: var(--green);
  --error-color: var(--red);

  --black-soft: #15141b;
  --white-soft: #bdbdbd;
  --gray-soft: #6d6d6d;
  --purple-soft: #8464c6;
  --purple-fading-soft: #3d375e7f;
  --green-soft: #54c59f;
  --orange-soft: #c7a06f;
  --pink-soft: #c17ac8;
  --blue-soft: #6cb2c7;
  --red-soft: #c55858;

  /* --background-soft-color: var(--black-soft);
  --foreground-soft-color: var(--white-soft);
  --muted-soft-color: var(--gray-soft);
  --selection-soft-color: var(--purple-fading-soft);
  --primary-soft-color: var(--purple-soft);
  --secondary-soft-color: var(--green-soft);
  --tertiary-soft-color: var(--orange-soft);
  --quaternary-soft-color: var(--pink-soft);
  --quinary-soft-color: var(--blue-soft);
  --senary-soft-color: var(--red-soft);

  --warning-soft-color: var(--orange-soft);
  --success-soft-color: var(--green-soft);
  --error-soft-color: var(--red-soft); */
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* .section {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
} */

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: #2d333c;
  color: #b6cde4a1;
  /* color: #2D333C;
    background-color:#b6cde4a1; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  font-family: sans-serif;
}
