.root {
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

small {
    font-size: 1.0em;
}